#root {
  max-width: 1400px;
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #1a1a1a;
  margin: 0.5em 0;
}

p {
  color: #495057;
}

strong {
  color: #1a1a1a;
}
